body {
	font-family: sans-serif;
	line-height: 1.65;
	font-size: 18px;
	color: #333;
}

h1, h2, h3 {
  line-height: 1.2
}

pre {
	font-family: monospace;
}

.home {
	color: #333 !important;
	text-decoration: none;	
}

.wrapper {
	padding: 1.5em;
	margin: auto;
	max-width: 50em;
}

.nav {
	margin-top: 10vh;
	border-bottom: 5px solid;
	margin-bottom: 3em;
}

.nav > h1 {
	text-align: end;
	margin: 1em;
}

.box {
	border-radius: 5px;
	padding: 10px;
}

.post {
	display: grid;
	grid-gap: 1em;
	padding-left: 1em;
	padding-right: 1em;
	margin-bottom: 2em;
}

.post > * {
	padding: 0;
	margin: 0;
}

@media screen and (min-width: 600px) {
	.post {
		grid-template-areas:
			"date author title";
		grid-template-columns: auto auto 1fr;
	}
}

@media screen and (max-width: 600px) {
	.post {
		grid-template-areas:
			"title title"
			"date author";
		grid-template-columns: auto 1fr;
	}
}



.title {
	grid-area: title;
	font-weight: bold;
	color: #111;
	text-decoration: none;	
}

.title:visited {
	color: #666;
}

.author {
	grid-area: author;
}

.date {
	grid-area: date;
}
